akita/*.session
akita/*.session-journal
akita/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
akita/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
start_local_my_pc.bat
